[submodule "llmsys_s24_hw1"]
	path = llmsys_s24_hw1
	url = https://github.com/wufeng15226/llmsys_s24_hw1.git
[submodule "llmsys_s24_hw4"]
	path = llmsys_s24_hw4
	url = https://github.com/wufeng15226/llmsys_s24_hw4.git
